<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="provider" value="System.Data.OleDb"/>
   </appSettings>
   <connectionStrings>
      <add name="AutoLotSqlProvider" connectionString="Data Source=(Local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
      <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=(Local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
   </connectionStrings>
</configuration>